body{

background:#0f172a;

font-family:Arial;

color:white;

margin:0;

}

.container{

width:80%;

margin:auto;

padding:40px;

}

h1{

text-align:center;

font-size:45px;

}

.report-card{

background:#1e293b;

padding:30px;

border-radius:20px;

white-space:pre-wrap;

line-height:1.8;

font-size:17px;

box-shadow:0 0 25px rgba(0,0,0,.4);

}

button{

margin-top:30px;

padding:15px 30px;

border:none;

border-radius:12px;

cursor:pointer;

background:#2563eb;

color:white;

font-size:17px;

}