body{

margin:0;

font-family:Arial;

background:#0f172a;

color:white;

}

.cover{

height:220px;

background:linear-gradient(135deg,#2563eb,#7c3aed);

}

.profile-container{

width:85%;

margin:auto;

margin-top:-80px;

}

.profile-card{

background:#1e293b;

border-radius:20px;

padding:30px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

.avatar{

width:130px;

height:130px;

border-radius:50%;

background:#2563eb;

font-size:55px;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

border:5px solid white;

}

.stats{

display:flex;

justify-content:space-around;

margin-top:30px;

}

button{

padding:14px 40px;

margin-top:25px;

border:none;

border-radius:12px;

background:#2563eb;

color:white;

font-size:17px;

cursor:pointer;

}

.section{

margin-top:35px;

background:#1e293b;

padding:25px;

border-radius:20px;

}

.badges span{

display:inline-block;

background:#334155;

padding:10px 15px;

margin:8px;

border-radius:10px;

}